<div class="container">
  <div class="jumbotron">
    <h2 class="alert alert-danger text-center">You are not authorized to view</h2> 
    <div class="col-sm-offset-5 col-sm-2">
    	<a href="/logout"><button class="btn btn-info text-center">Login As Different User</button></a>
    </div>
  </div>
</div>