<div class="container">
	<div class="col-sm-offset-3 col-sm-6">
		<h3>Add Email id's who can access the website</h3>
		<div id="message" class="alert alert-success">
			<p></p>
		</div>
		<input type="text" value="<%= @emails %>" data-role="tagsinput" />
		<button class="btn btn-success float-right mt-15" id="add-emails">Add/Update</button>
	</div>
</div>
